*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    font-size:18px;
}

body {
   display: flex;
   align-items: center;
   justify-content: center;
    flex-direction: column;
}
.contact {
     display: flex;
    justify-content: space-between;
    background-color: darkblue;
    color: white;
    padding-left: 30vh;
    padding-right: 30vh;
    font-size:1.2rem;
    align-items: center;
    border-radius: 3px; 
    
}
.contact1{
    padding-left: 30px;
    padding-right: 30px;
}
.products {
    display:flex;
    justify-content: space-between;
    padding-left: 30vh;
    padding-right: 30vh;
    padding-bottom: 2vh;
    padding-top:2vh;
    }

.products a {
    padding-left: 10vh;
    font-size:1.2rem;
    color:blue;
}

.products a:hover{
    font-size:1.5rem;
    color:green;
}

.product_img {
    width: 10vh;
    height:10vh;
}

.product_img:hover {
    width: 20vh;
    height:20vh;
}

.product_heading {
    display:flex;
    justify-content: space-between;
    padding-left: 30vh;
    padding-right: 30vh;
    padding-bottom: 5vh;
    padding-top:5vh;
    font-style: bold;
    border-bottom: 0.3px solid black;
    background-color: antiquewhite;
}

.products p {
    font-size:1.2rem;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
   
}
.mrp {
    font-size:1.2rem;
    color: #999;
    font-weight: lighter;
    text-decoration: line-through;
}

.name {
    height: 10vh;
    width: 30vh;
}
#quantity {
    height: 3rem;
    width: 3rem;
    
}

.cart {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding:7px 10px;
    border-radius: 3px;
    width: 80px;
    border: #333;
}
.cart p{
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: goldenrod;
    color: white;
}
.cart img {
    height: 20px;
    width: 20px;
}
.container {
    display: flex;
    width: 70%;
    margin-bottom: 30px;
}

#root {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}

.sidebar {
    width:40%;
    border-radius: 5px;
    background-color: #eee;
    margin-left:20px;
    padding:15px;
    text-align: center;
}

.head {
    background-color: blue;
    border-radius: 3px;
    height: 40px;
    padding:10px;
    margin-bottom: 20px;
    color:white;
    display: flex;
    align-items: center;
}

.foot {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 15px;
}

.img-box{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images{
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    object-position: center;
}

.bottom{
    margin-top:20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}
h2{
    font-size: 20px;
    color:red;
}
h2 span{
    text-decoration: line-through;
    font-size: 1.1rem;
    color: grey;
}
button{
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: blue;
    padding: 7px 25px;
    cursor:pointer;
    color: white;
}
button:hover{
    background-color: #333;
}

.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #aaa;
    border-radius:3px;
    margin: 10px 10px;
}

.row-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rowimg{
    max-width:43px;
    max-height: 43px;
    border-radius: 50%;
}

.fa-trash:hover{
    cursor: pointer;
    color:#333;
}

@media only screen and (max-width:900px) {
    #root {
        width: 60%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    
    }
}